*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Nunito', sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
:root{
    --blueDark : #435D7D; 
    --white: #fff;
    --black: #000;
    --danger: #DC3545;
    --success: #28A745;
    --primary: #17a2b8;
}
